.container {
    .comic_thumb {
        width: 40%;
        img {
            width: 500px;
            height: 800px;
            object-fit: cover;
        }
    }

    .comic_info {
        width: 60%;
    }
}
